{% extends "main.html" %}



{% block content %}
<style type="text/css">
  

.bg-img {

  background-image: url("static/cs2.jpg");

  min-height: 380px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


body {
  font-family: "Lato", sans-serif;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}




p.round3 {
  border: 2px solid red;
  border-radius: 12px;
</style>
<br><br>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"><center><b>Welcome to CryptStego</b></center></h1>
    <p class="lead"><center>A small Project to demonstrate  hiding technique using Cryptography and Stenography.</center></p>
  </div>
</div>

<br>

<div class="jumbotron jumbotron-fluid bg-dark text-white" style="width:800px ;margin:auto; color: black; background-color:#b5cbbb; border-radius:25px">
  <div class="container">
    <h1 class="display-4"><center><b>Want to Encrpyt text ?</b></center></h1>
    <p class="lead">
    	<center>Quickly Jump To  <br>
    		<form action="{{url_for('encrypt')}}" method="GET"> 
    			<button type="submit" class="btn btn-warning">Encrypter</button>
    		</form>
     	</center>
    </p>
  </div>
</div>




<br><br>

<div class="bg-img" style="height:800px;">
<h3><p style="color: white;padding: 200px">
	Ensuring the confidentiality of sensitive information remains a paramount concern in today's digital landscape.
  Steganography emerges as a strategic solution in the realm of data security. This art involves concealing confidential
  data within another image, termed as the cover image. The hidden data remains obscured from the view of ordinary users,
  residing covertly within the cover image. Only authorized individuals, following a specific steganography process, can
  unveil the concealed information.

In tandem with steganography, another robust security technique comes into play - cryptography. Cryptography functions
  by transforming confidential data into an unreadable format, a process commonly known as encryption. Subsequently,
  decryption reverts the unreadable form back to its readable state. Frequently, users opt for either cryptography or
  steganography, but not both simultaneously. While cryptography stands as a potent security measure, the fusion of
  cryptography and steganography holds the potential to wield significant influence in this domain.
    The equation (1) describes a very simple method of steganography:


<center><h3><p class="round3" style="color:black;margin:auto;width: 900px">Cover Image + Secrete Data + Key = Stego Imag  .... (1)</p></h3></center>

</p></h3>

</div>


<br>
<br>






<br><br>



<div id="mySidebar" class="sidebar" >
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
  <a href="https://en.wikipedia.org/wiki/Steganography">Steanography</a>
  <a href="https://en.wikipedia.org/wiki/Cryptography">Cryptography</a>
  <a href="https://flask.palletsprojects.com/en/1.1.x/tutorial/">Flask</a>
  <a href="{{url_for('team_info')}}">About Developer</a>
</div>

<div id="main">
  <p><h1 style="text-align: center;color: orange"><i> For more Information on these Topics click sidebar below</i> </i></h1></p>

  <button style="margin-left:600px;margin-right: auto;" class="openbtn" onclick="openNav()">☰ Open Sidebar</button>
 <!--  <h2>Collapsed Sidebar</h2> -->
<!--   <p>Click on the hamburger menu/bar icon to open the sidebar, and push this content to the right.</p> -->
</p></div>

<script>
function openNav() {
  document.getElementById("mySidebar").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}
</script>







































<br><br>





<style>
* {
  box-sizing: border-box;
}

.row {
  margin-left:-5px;
  margin-right:-5px;
}
  
.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
</style>
</head>
<body>



{% endblock %}
























